h2,
h4 {
    border-radius: 10px;
}

#about,
#resume,
#projects,
#contact {
    padding: 20px;
}

.about,.resume,.projects, .contact{ 
    background-color: #9DB2BF;
    padding: 20px;
    margin: 20px;
    border: 0px solid;
    border-radius: 10px;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);

    text-align: center;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.img-containers {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #DDE6ED;
    margin: 10px;
    padding: 10px;
    width: 90%;
    height: 200px;
    border-radius: 10px;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
}

.form-container { 
    background-color: #DDE6ED;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
}

.form-content {
    background-color: white;
    margin: 10px ;
}