body {
  margin: 0;
  font-family: 'Caprasimo', cursive;
}

header{
  background-color: #27374D;
  align-items: center;
  justify-content: center;
}

main {
  min-height: 100vh;
}

footer {
  background-color: #27374D;
  align-items: center;
  justify-content: center;
}
