body {
  margin: 0;
  font-family: 'Caprasimo', cursive;
}

header{
  background-color: #393E46;
  align-items: center;
  justify-content: center;
}

main {
  background-color: #F7F7F7;
  min-height: 100vh;
}